In [1]:
def user_input(acc_nm):

    if acc_nm ==1:
        ledger_name = input("Enter account 1 ledger name")
        sub_ledger_name = input("Enter account 1 sub ledger name")
        
        a =  list(config['accounts'].keys())
        b = [s.lower() for s in a]
        c = sub_ledger_name.lower().split()[0]
        acc = c
        if c in b:
            d = config['accounts'][c]['type']
            subgroup = list(d.keys())[0]
            group   = list(d.values())[0]['type']
            # print(subgroup,group)
    
            return subgroup, group, acc,ledger_name,sub_ledger_name

    if acc_nm ==2:

        ledger_name = input("Enter account 2 ledger name")
        sub_ledger_name = input("Enter account 2 sub ledger name")
                
        a =  list(config['accounts'].keys())
        b = [s.lower() for s in a]
        c = sub_ledger_name.lower().split()[0]
        acc = c
        if c in b:
            d = config['accounts'][c]['type']
            subgroup = list(d.keys())[0]
            group   = list(d.values())[0]['type']
            # print(subgroup,group)
    
            return subgroup, group, acc,ledger_name,sub_ledger_name

In [2]:
# user_input(1)

In [3]:
config = {
    'account_types': {
        'ASSET': {'balance_type': 'DEBIT'},
        'INCOME': {'balance_type': 'CREDIT'},
        'LIABILITY': {'balance_type': 'CREDIT'},
        'EXPENSE': {'balance_type': 'DEBIT'},
        'CAPITAL':{'balance_type': 'CREDIT'},
        'REVENUE':{'balance_type': 'DEBIT'}
    },

    'accounts': {
        'cash': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'cash equivalents': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'short term Deposits': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'accounts receivables': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'inventory': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'marketable securities':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'office supplies':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'prepaid expenses':{'type':{'CurrentAsset':{'type':'ASSET'}}},

        'land':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'building':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'machinery':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'equipment':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'patents':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'trademarks':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'goodwill':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'brand':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'copyrights':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'trade secrets':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'licenses and permits':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'corporate intellectual property':{'type':{'FixedAsset':{'type':'ASSET'}}},

    }


       
}

In [4]:
account = {}
for i in config['accounts'].keys():
    account[i]=0


info = {
    'subgroup' : [],
    'group'    : [],
    'acc'     : [],
    'ledger_name':[],
    'sub_ledger_name':[],
    'category' : [],
    'amount':[],
    'amount_type':[]
    
}

In [5]:
def identify_account_ledger_category(account_type):
    if account_type in ['ASSET', 'LIABILITY']:
        return 'Real'
    elif account_type == 'CAPITAL':
        return 'Personal'
    elif account_type in ['INCOME', 'EXPENSE']:
        return 'Nominal'
    else:
        return 'Uncategorized'
    
def identify_ledger_category(account_type):
    if account_type == 'ASSET':
        return 'Assets'
    elif account_type == 'LIABILITY':
        return 'Liabilities'
    elif account_type == 'CAPITAL':
        return 'Capital'
    elif account_type == 'INCOME':
        return 'Revenue'
    elif account_type == 'EXPENSE':
        return 'Expenses'
    else:
        return 'Uncategorized'

In [6]:
def identify_category(subgroup,group,account):
    if subgroup=="CurrentAsset":
        category = identify_ledger_category(config['accounts'][account]['type']['CurrentAsset']['type'])
        narration   = identify_account_ledger_category(category)
        return category ,narration

    if subgroup=="FixedAsset":
        category = identify_ledger_category(config['accounts'][account]['type']['FixedAsset']['type'])
        narration   = identify_account_ledger_category(category)
        return category ,narration

In [7]:
identify_category('CurrentAsset','df2','cash')

('Assets', 'Uncategorized')

In [8]:
class DoubleEntryAccounting:
    def __init__(self,acc_key):
        self.accounts = acc_key

    def create_account(self, account_name, initial_balance=0):
        self.accounts[account_name] = initial_balance
       
    def record_transaction(self, debit_account, credit_account, amount):
    
        # Debit the asset account
        self.accounts[debit_account] += amount
        debit = 'debit'
        # print(self.accounts[debit_account] , debit )

        # Credit the asset account
        self.accounts[credit_account] -= amount
        credit = 'credit'
        # print(self.accounts[credit_account] , credit)

        return (self.accounts[debit_account] , debit) , (self.accounts[credit_account] , credit)

In [27]:
info = {
    'C1'    : [],
    'C2' : [],
    'C3'    : [],
    'C4':[],
    'C5':[],
    'amount':[],
    'amount_type':[]
    
}
account = {}
for i in config['accounts'].keys():
    account[i]=0

In [29]:
sys = DoubleEntryAccounting(account)

subgroup1, group1, acc1,ledger_name1,sub_ledger_name1 = user_input(1)
subgroup2, group2, acc2 ,ledger_name2,sub_ledger_name2 = user_input(2)


if (ledger_name1 in info['C5']) | (ledger_name2 in info['C5']) :
    print("****bank already exist!*****")
else:
    sys.create_account(acc1,100000)
    sys.create_account(acc2,100000)
    
    # info['ledger_name'].append(ledger_name1)
    info['C2'].append(subgroup1)
    info['C1'].append(group1)
    info['C3'].append(acc1)
    info['C5'].append(ledger_name1)
    info['C4'].append(sub_ledger_name1)

    # info['ledger_name'].append(ledger_name2)
    info['C2'].append(subgroup2)
    info['C1'].append(group2)
    info['C3'].append(acc2)
    info['C5'].append(ledger_name2)
    info['C4'].append(sub_ledger_name2)

    
    category1, narration1 = identify_category(subgroup1,group1,acc1)
    category2, narration2  = identify_category(subgroup2,group2,acc2)
    # info['narration'].append(narration1)
    # info['narration'].append(narration2)
    # # info['category'].append(category1)
    # info['category'].append(category2)
    
    
    if category1 == 'Assets' and category2 == 'Assets':
        s1,s2 = sys.record_transaction(acc1, acc2, amount=10000)
        # print("*************",s1,s2)
        amount1 = s1[0]
        amount_type1 = s1[1]
        info['amount'].append(amount1)
        info['amount_type'].append(amount_type1)
        
        amount2 = s2[0]
        amount_type2 = s2[1]
        info['amount'].append(amount2)
        info['amount_type'].append(amount_type2)

Enter account 1 ledger name hdfc
Enter account 1 sub ledger name cash
Enter account 2 ledger name kotak
Enter account 2 sub ledger name land

In [25]:
C = {
    'group':'C1',
    'subgroup':'C2',
    'account_name':'C3',
    'sub_ledger_name':'C4',
    'ledger_name':'C5',
}

In [26]:
C

{'group': 'C1',
 'subgroup': 'C2',
 'account_name': 'C3',
 'sub_ledger_name': 'C4',
 'ledger_name': 'C5'}

In [30]:
import pandas as pd
pd.DataFrame(info)

      C1            C2    C3    C4     C5  amount amount_type
0  ASSET  CurrentAsset  cash  cash   hdfc  110000       debit
1  ASSET    FixedAsset  land  land  kotak   90000      credit

In [39]:
config = {
    'account_types': {
        'ASSET': {'balance_type': 'DEBIT'},
        'EXPENSE': {'balance_type': 'DEBIT'},
        'INCOME': {'balance_type': 'CREDIT'},
        'LIABILITY': {'balance_type': 'CREDIT'},
        'CAPITAL':{'balance_type': 'CREDIT'},
        'REVENUE':{'balance_type': 'DEBIT'},
        
    },
    

    'accounts': {
        'Cash': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'CashEquivalents': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'ShortTermDeposits': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'AccountsReceivables': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'Inventory': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'MarketableSecurities':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'OfficeSupplies':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'PrepaidExpenses':{'type':{'CurrentAsset':{'type':'ASSET'}}},

        'Land':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Building':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Machinery':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Equipment':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Patents':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trademarks':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Goodwill':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Brand':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Copyrights':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trade secrets':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Licenses And Permits':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Corporate Intellectual Property':{'type':{'FixedAsset':{'type':'ASSET'}}},


        'Accounts Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        
        'Principal  & Interest ':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Outstanding_Salaries':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Wages':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Notes Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Income Tax dues':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Payroll':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Unearned income':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Accrued expenses':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Short Term Debt':{'type':{'Current_Liability':{'type':'LIABILITY'}}},

        'Principal':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Bonds':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Debentures':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Long term loans':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Deffered tax':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Lease Payments':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Pensions':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},

        'Sales':{'type':{'Operating':{'type':'REVENUE'}}},
        'Rent revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Dividend revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Interest revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Contra revenue':{'type':{'Operating':{'type':'REVENUE'}}},

        'Interest Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Dividend Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Rental Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Gain on Sale of Assets':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Royalty Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Insurance Proceeds':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Foreign Exchange Gains':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Legal Settlements':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Miscellaneous Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},

        'Salaries':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Wages':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Marketing':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Advertising':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Promotion':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Selling':{'type':{'Operating':{'type':'EXPENSE'}}},
        'general, and administrative (SG&A)':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Rent and insurance':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Depreciation and amortization':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Other':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Interest':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Taxes':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Impairment charges':{'type':{'Operating':{'type':'EXPENSE'}}},
        
        'Rent':{'type':{'Fixed':{'type':'EXPENSE'}}},
        'Salaries, benefits, and wages (sometimes fixed and sometimes variable)':{'type':{'Fixed':{'type':'EXPENSE'}}},

        'Transaction fees':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Commissions':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Marketing and advertising (sometimes fixed and sometimes variable)':{'type':{'Variable':{'type':'EXPENSE'}}},


   

    }}

In [40]:
import pandas as pd

In [41]:
asset ,  lia  , exp ,  rev  =  [],[],[],[]
sub_account_asset,  sub_account_lia,  sub_account_exp,  sub_account_rev = [],[],[],[]
asset_balance_type, lia_balance_type, exp_balance_type, rev_balance_type   = [],[],[],[]

for i in config['accounts']:
    if 'ASSET' in list(list(config['accounts'][i].values())[0].values())[0]['type']:
        sub_account_asset.append(list(list(config['accounts'][i].values())[0].keys())[0])
        c = list(list(config['accounts'][i].values())[0].keys())[0]
        asset.append(i)
        asset_balance_type.append(config['account_types']['ASSET']['balance_type'])

    if 'LIABILITY' in list(list(config['accounts'][i].values())[0].values())[0]['type']:
        sub_account_lia.append(list(list(config['accounts'][i].values())[0].keys())[0])
        c = list(list(config['accounts'][i].values())[0].keys())[0]
        lia.append(i)
        lia_balance_type.append(config['account_types']['LIABILITY']['balance_type'])

    if 'EXPENSE' in list(list(config['accounts'][i].values())[0].values())[0]['type']:
        sub_account_exp.append(list(list(config['accounts'][i].values())[0].keys())[0])
        c = list(list(config['accounts'][i].values())[0].keys())[0]
        exp.append(i)
        exp_balance_type.append(config['account_types']['EXPENSE']['balance_type'])

    if 'REVENUE' in list(list(config['accounts'][i].values())[0].values())[0]['type']:
        sub_account_rev.append(list(list(config['accounts'][i].values())[0].keys())[0])
        c = list(list(config['accounts'][i].values())[0].keys())[0]
        rev.append(i)
        rev_balance_type.append(config['account_types']['REVENUE']['balance_type'])


max_len = max(len(asset), len(lia), len(exp))

# Pad the shorter lists with None values to make them of equal length
asset += [None] * (max_len - len(asset))
lia += [None] * (max_len - len(lia))
exp += [None] * (max_len - len(exp))
rev += [None] * (max_len - len(rev))


sub_account_asset+= [None] * (max_len - len(sub_account_asset))
sub_account_lia+= [None] * (max_len - len(sub_account_lia))
sub_account_exp+= [None] * (max_len - len(sub_account_exp))
sub_account_rev+= [None] * (max_len - len(sub_account_rev))

asset_balance_type+= [None] * (max_len - len(asset_balance_type))
lia_balance_type+= [None] * (max_len - len(lia_balance_type))
exp_balance_type+= [None] * (max_len - len(exp_balance_type))
rev_balance_type+= [None] * (max_len - len(rev_balance_type))

pd.DataFrame({
        'ASSET':asset,
        'ASSET Sub Category':sub_account_asset,
        # 'Asset Balance type':asset_balance_type,
        'LIABILITY':lia,
        'LIABILITY Sub Category': sub_account_lia,
        
        # 'liability Balance type':lia_balance_type,
        'EXPENSE':exp,
        'EXPENSE  Sub Category':sub_account_exp,
        # 'Expense Balance type':exp_balance_type,
        'REVENUE':rev,
        'REVENUE  Sub Category':sub_account_rev,
        # 'Revenue Balance Type':rev_balance_type,
        # 'ASSET Sub Category':sub_account_asset,
        # 'LIABILITY Sub Category': sub_account_lia,
        # 'EXPENSE  Sub Category':sub_account_exp,
        
})

,ASSET,ASSET Sub Category,LIABILITY,LIABILITY Sub Category,EXPENSE,EXPENSE Sub Category,REVENUE,REVENUE Sub Category
0,Cash,CurrentAsset,Accounts Payable,Current_Liability,Wages,Operating,Sales,Operating
1,CashEquivalents,CurrentAsset,Principal & Interest,Current_Liability,Salaries,Operating,Rent revenue,Operating
2,ShortTermDeposits,CurrentAsset,Outstanding_Salaries,Current_Liability,Marketing,Operating,Dividend revenue,Operating
3,AccountsReceivables,CurrentAsset,Notes Payable,Current_Liability,Advertising,Operating,Interest revenue,Operating
4,Inventory,CurrentAsset,Income Tax dues,Current_Liability,Promotion,Operating,Contra revenue,Operating
5,MarketableSecurities,CurrentAsset,Mortagage,Long_Term_Liability,Selling,Operating,Interest Income,Non-Operating
6,OfficeSupplies,CurrentAsset,Payroll,Current_Liability,"general, and administrative (SG&A)",Operating,Dividend Income,Non-Operating
7,PrepaidExpenses,CurrentAsset,Unearned income,Current_Liability,Rent and insurance,Operating,Rental Income,Non-Operating
8,Land,FixedAsset,Accrued expenses,Current_Liability,Depreciation and amortization,Operating,Gain on Sale of Assets,Non-Operating
9,Building,FixedAsset,Short Term Debt,Current_Liability,Other,Operating,Royalty Income,Non-Operating
10,Machinery,FixedAsset,Principal,Long_Term_Liability,Interest,Operating,Insurance Proceeds,Non-Operating
11,Equipment,FixedAsset,Bonds,Long_Term_Liability,Taxes,Operating,Foreign Exchange Gains,Non-Operating
12,Patents,FixedAsset,Debentures,Long_Term_Liability,Impairment charges,Operating,Legal Settlements,Non-Operating
13,Trademarks,FixedAsset,Long term loans,Long_Term_Liability,Rent,Fixed,Miscellaneous Income,Non-Operating
14,Goodwill,FixedAsset,Deffered tax,Long_Term_Liability,"Salaries, benefits, and wages (sometimes fixed...",Fixed,None,None
15,Brand,FixedAsset,Lease Payments,Long_Term_Liability,Transaction fees,Variable,None,None
16,Copyrights,FixedAsset,Pensions,Long_Term_Liability,Commissions,Variable,None,None
17,Trade secrets,FixedAsset,None,None,Marketing and advertising (sometimes fixed and...,Variable,None,None
18,Licenses And Permits,FixedAsset,None,None,None,None,None,None
19,Corporate Intellectual Property,FixedAsset,None,None,None,None,None,None

In [43]:
data = []

for account, details in config['accounts'].items():
    account_type = list(details['type'].values())[0]['type']
    balance_type = config['account_types'][account_type]['balance_type']

    data.append({
        'Account': account,
        'Account Type': account_type,
        'Balance Type': balance_type
    })

df = pd.DataFrame(data)
df['G_CODE'] = df['Account Type'].map({'ASSET': 'G1', 'LIABILITY': 'G2', 'INCOME':'G3','EXPENSE':'G4','REVENUE':'G5'})
# df['G2'] = df['Account Type'].apply(lambda x: 'G1' if x == 'ASSET' else 'G2')

In [44]:
df[df['G_CODE']=='G1']

                            Account Account Type Balance Type G_CODE
0                              Cash        ASSET        DEBIT     G1
1                   CashEquivalents        ASSET        DEBIT     G1
2                 ShortTermDeposits        ASSET        DEBIT     G1
3               AccountsReceivables        ASSET        DEBIT     G1
4                         Inventory        ASSET        DEBIT     G1
5              MarketableSecurities        ASSET        DEBIT     G1
6                    OfficeSupplies        ASSET        DEBIT     G1
7                   PrepaidExpenses        ASSET        DEBIT     G1
8                              Land        ASSET        DEBIT     G1
9                          Building        ASSET        DEBIT     G1
10                        Machinery        ASSET        DEBIT     G1
11                        Equipment        ASSET        DEBIT     G1
12                          Patents        ASSET        DEBIT     G1
13                       Trademarks        ASSET        DEBIT     G1
14                         Goodwill        ASSET        DEBIT     G1
15                            Brand        ASSET        DEBIT     G1
16                       Copyrights        ASSET        DEBIT     G1
17                    Trade secrets        ASSET        DEBIT     G1
18             Licenses And Permits        ASSET        DEBIT     G1
19  Corporate Intellectual Property        ASSET        DEBIT     G1

In [45]:
df[df['G_CODE']=='G2']

                   Account Account Type Balance Type G_CODE
20        Accounts Payable    LIABILITY       CREDIT     G2
21  Principal  & Interest     LIABILITY       CREDIT     G2
22    Outstanding_Salaries    LIABILITY       CREDIT     G2
24           Notes Payable    LIABILITY       CREDIT     G2
25         Income Tax dues    LIABILITY       CREDIT     G2
26               Mortagage    LIABILITY       CREDIT     G2
27                 Payroll    LIABILITY       CREDIT     G2
28         Unearned income    LIABILITY       CREDIT     G2
29        Accrued expenses    LIABILITY       CREDIT     G2
30         Short Term Debt    LIABILITY       CREDIT     G2
31               Principal    LIABILITY       CREDIT     G2
32                   Bonds    LIABILITY       CREDIT     G2
33              Debentures    LIABILITY       CREDIT     G2
34         Long term loans    LIABILITY       CREDIT     G2
35            Deffered tax    LIABILITY       CREDIT     G2
36          Lease Payments    LIABILITY       CREDIT     G2
37                Pensions    LIABILITY       CREDIT     G2

In [46]:
df[df['G_CODE']=='G4']

,Account,Account Type,Balance Type,G_CODE
23,Wages,EXPENSE,DEBIT,G4
52,Salaries,EXPENSE,DEBIT,G4
53,Marketing,EXPENSE,DEBIT,G4
54,Advertising,EXPENSE,DEBIT,G4
55,Promotion,EXPENSE,DEBIT,G4
56,Selling,EXPENSE,DEBIT,G4
57,"general, and administrative (SG&A)",EXPENSE,DEBIT,G4
58,Rent and insurance,EXPENSE,DEBIT,G4
59,Depreciation and amortization,EXPENSE,DEBIT,G4
60,Other,EXPENSE,DEBIT,G4
61,Interest,EXPENSE,DEBIT,G4
62,Taxes,EXPENSE,DEBIT,G4
63,Impairment charges,EXPENSE,DEBIT,G4
64,Rent,EXPENSE,DEBIT,G4
65,"Salaries, benefits, and wages (sometimes fixed...",EXPENSE,DEBIT,G4
66,Transaction fees,EXPENSE,DEBIT,G4
67,Commissions,EXPENSE,DEBIT,G4
68,Marketing and advertising (sometimes fixed and...,EXPENSE,DEBIT,G4

In [47]:
df[df['G_CODE']=='G5']

                   Account Account Type Balance Type G_CODE
38                   Sales      REVENUE        DEBIT     G5
39            Rent revenue      REVENUE        DEBIT     G5
40        Dividend revenue      REVENUE        DEBIT     G5
41        Interest revenue      REVENUE        DEBIT     G5
42          Contra revenue      REVENUE        DEBIT     G5
43         Interest Income      REVENUE        DEBIT     G5
44         Dividend Income      REVENUE        DEBIT     G5
45           Rental Income      REVENUE        DEBIT     G5
46  Gain on Sale of Assets      REVENUE        DEBIT     G5
47          Royalty Income      REVENUE        DEBIT     G5
48      Insurance Proceeds      REVENUE        DEBIT     G5
49  Foreign Exchange Gains      REVENUE        DEBIT     G5
50       Legal Settlements      REVENUE        DEBIT     G5
51    Miscellaneous Income      REVENUE        DEBIT     G5

In [48]:
df

,Account,Account Type,Balance Type,G_CODE
0,Cash,ASSET,DEBIT,G1
1,CashEquivalents,ASSET,DEBIT,G1
2,ShortTermDeposits,ASSET,DEBIT,G1
3,AccountsReceivables,ASSET,DEBIT,G1
4,Inventory,ASSET,DEBIT,G1
...,...,...,...,...
64,Rent,EXPENSE,DEBIT,G4
65,"Salaries, benefits, and wages (sometimes fixed...",EXPENSE,DEBIT,G4
66,Transaction fees,EXPENSE,DEBIT,G4
67,Commissions,EXPENSE,DEBIT,G4
68,Marketing and advertising (sometimes fixed and...,EXPENSE,DEBIT,G4