# Reading text from pdf file 


11-01-2024

<span style="color:blue"> Installed pytesseract, tesseract-ocr python packages.These are OCR modules,OCR refers to Optical Character Recoginition and is a python method to detect text from images scanned documents </span>

In [ ]:
!pip install pytesseract
!apt-get install tesseract-ocr

Requirement already satisfied: pytesseract in /usr/local/lib/python3.10/dist-packages (0.3.10)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (23.2)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (9.4.0)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
tesseract-ocr is already the newest version (4.1.1-2.1build1).
0 upgraded, 0 newly installed, 0 to remove and 24 not upgraded.

<span style="color:blue"><br> Used pdf2image package that contains the method 'convert_from_path' to convert a pdf to image and this image is then saved into the with the extention .jpg <br> <br>A function is created that, if a PDF file has multiple pages, converts them into separate images. </span>

In [ ]:
from pdf2image import convert_from_path

# Specify your PDF file path
pdf_file_path = '/content/invoice (1).pdf'

# Convert PDF to images
images = convert_from_path(pdf_file_path)

for i, image in enumerate(images):
    image.save(f'invoice (1){i + 1}.jpg', 'JPEG')

<span style="color:blue"> The provided code utilizes the OpenCV library (`cv2`) and the pytesseract library for Optical Character Recognition (OCR).<br><br> Firstly, an image named 'invoice (1)1.jpg' is read using OpenCV (`cv2.imread`).<br><br> Subsequently, the image is converted to grayscale (`cv2.cvtColor`).<br><br>Converting the image in grey scale reduces the dimensionality and reduces the use computational resources. The pytesseract library is then employed to extract text from the grayscale image (`pytesseract.image_to_string`). <br><br>The extracted text is stored in the variable `text`, and the final step involves printing this text content to the console (`print(text)`). <br><br>This process enables the recognition and extraction of textual information from the specified image.</span>

In [ ]:
import cv2
import pytesseract

#reading the image
image_cv2 = cv2.imread('/content/invoice (1)1.jpg')

# Converting to grayscale
gray_image = cv2.cvtColor(image_cv2, cv2.COLOR_BGR2GRAY)

text = pytesseract.image_to_string(gray_image)

print(text)

amazon.in

Sold By:

VRP TELEMATICS PRIVATE LIMITED

* Building No. 5, BGR Warehousing Complex,
Near Shiv Sagar Hotel, Village Vahuli, Bhiwandi,
Thane

BHIWANDI, MAHARASHTRA, 421302

IN

PAN No: AACCV5763A
GST Registration No: 27AACCV5763A1ZF

Order Number: 404-9917575-7586714
Order Date: 21.12.2023

Tax Invoice/Bill of Supply/Cash Memo
(Original for Recipient)

Billing Address :

Nataline Ambrose

Infant jesus cottage room no 2 chikuwadi, malwani
church malad west

Mumbai, MAHARASHTRA, 400095

IN

State/UT Code: 27

Shipping Address :

Nataline Ambrose

Nataline Ambrose

Infant jesus cottage room no 2 chikuwadi, malwani
church malad west

Mumbai, MAHARASHTRA, 400095

IN

State/UT Code: 27

Place of supply: MAHARASHTRA

Place of delivery: MAHARASHTRA

Invoice Number : BOM7-321133
Invoice Details : MH-BOM7-1283324145-2324
Invoice Date : 21.12.2023



















Amount in Words:
Two Hundred Eighty-four only

SI. pn Unit Net Tax |Tax |Tax Total
Nollae euon Price |@Y/amount|Rate|Type |Amount|Amount
y |YouBella Jewellery Earrings for women Crystal Earrings for Girls and
Women (Black) | BO7W9KXP9Q ( BO7W9KXP9Q ) 2275.72] 1 |%275.72]1.5%|CGST] %4.14 }%284.00
HSN:71179010
1.5%|SGST] %4.14
TOTAL: %8.28/%284.00)





For VRP TELEMATICS PRIVATE LIMITED:

Authorized Signatory



Whether tax is payable under reverse charge - No



Payment Transaction ID:
i93rLOIZV3FmYJ438bISXkEba4sNQUUHInt hrs





Date & Time: 21/12/2023, 22:46:11

Invoice Value: Mode of Payment:
284.00 UPI

# Segregating the data into column names and values

<span style="color:blue">The code searches for a specific section in a text, extracts the relevant information, and creates a DataFrame with a column for the section's header and its corresponding value. If the header is present, it constructs a DataFrame; otherwise, it indicates that the section was not found.</span>

<span style="color:blue">The above logic is used to extract all of these data</span><span style="color:red">[Order Number,Order Date,Sold By,Billing Address,Description,Amount in Words,Date & Time of Transaction,Place of supply,Invoice Number,Invoice Details,Invoice Date ] </span>

In [ ]:
start = text.find('Order Number:')
end = text.find('Order Date', start)
order_info = text[start:end]

In [ ]:
order_info_cleaned = order_info.replace('\n', ' ')
order_info_cleaned

'Order Number: 404-9917575-7586714 '

In [ ]:

# Extract the column head and value
if 'Order Number:' in order_info_cleaned:
    column_head = 'Order Number'
    column_value = order_info_cleaned.split('Order Number:')[1].strip()


    df= pd.DataFrame({column_head: [column_value]}, index=['Description'])

    print(df)
else:
    print("No Order Number found in the extracted substring.")

                    Order Number
Description  404-9917575-7586714

In [ ]:

start = text.find('Order Date:')
end= text.find('Tax', start)
order_date_tax_info = text[start:end]


order_date_tax_info_cleaned = order_date_tax_info.replace('\n', ' ')


if 'Order Date:' in order_date_tax_info_cleaned:
    column_head_date = 'Order Date'
    column_value_date = order_date_tax_info_cleaned.split('Order Date:')[1].strip()


    df0= pd.DataFrame({column_head_date: [column_value_date]}, index=['Description'])


    print(df0)
else:
    print("No Order Date found in the extracted substring.")

             Order Date
Description  21.12.2023

In [ ]:
start = text.find('Sold By')
end = text.find('PAN No', start)
Sold = text[start :end]
Sold

'Sold By:\n\nVRP TELEMATICS PRIVATE LIMITED\n\n* Building No. 5, BGR Warehousing Complex,\nNear Shiv Sagar Hotel, Village Vahuli, Bhiwandi,\nThane\n\nBHIWANDI, MAHARASHTRA, 421302\n\nIN\n\n'

In [ ]:
SoldBy= Sold.replace('\n', ' ')
print(SoldBy)

Sold By:  VRP TELEMATICS PRIVATE LIMITED  * Building No. 5, BGR Warehousing Complex, Near Shiv Sagar Hotel, Village Vahuli, Bhiwandi, Thane  BHIWANDI, MAHARASHTRA, 421302  IN

In [ ]:
import pandas as pd

if 'Sold By :' in SoldBy:

   column_value = SoldBy.split('Sold By :', 1)[1].strip()


   df1 = pd.DataFrame({'Sold By': [column_value]},index=['Description'])

   print(df1)
else:
   print("No Sold By found in the extracted substring.")
df1.head(10)

No Sold By found in the extracted substring.

                                                       Sold By
Description  VRP TELEMATICS PRIVATE LIMITED  ” Building No....

In [ ]:
start = text.find('Billing Address :')
end = text.find('State/', start)
Bill = text[start :end]
Bill

'Billing Address :\n\nNataline Ambrose\n\nInfant jesus cottage room no 2 chikuwadi, malwani\nchurch malad west\n\nMumbai, MAHARASHTRA, 400095\n\nIN\n\n'

In [ ]:
Bill_add= Bill.replace('\n', ' ')
print(Bill_add)

Billing Address :  Nataline Ambrose  Infant jesus cottage room no 2 chikuwadi, malwani church malad west  Mumbai, MAHARASHTRA, 400095  IN

In [ ]:
import pandas as pd


if 'Billing Address :' in Bill_add:

    Bill = Bill_add.replace('\n', ' ')
    column_head = 'Billing Address'
    column_value = Bill.split('Billing Address :')[1].strip()

    df2 = pd.DataFrame({column_head: [column_value]},index=['Description'])


    print(df2)
else:
    print("No billing address found in the extracted substring.")
df2.head()

                                               Billing Address
Description  Nataline Ambrose  Infant jesus cottage room no...

                                               Billing Address
Description  Nataline Ambrose  Infant jesus cottage room no...

In [ ]:

startinvoice = text.find('Invoice Number :')
end_invoice_date = text.find('Invoice Details :', startinvoice)
invoice_info = text[startinvoice:end_invoice_date]

invoice_info_cleaned = invoice_info.replace('\n', ' ')

if 'Invoice Number :' in invoice_info_cleaned:
    column_head_invoice = 'Invoice Number'
    column_value_invoice = invoice_info_cleaned.split('Invoice Number :')[1].strip()


    df3 = pd.DataFrame({column_head_invoice: [column_value_invoice]}, index=['Description'])


    print(df3)
else:
    print("No Invoice Number found in the extracted substring.")

            Invoice Number
Description    BOM7-321133

In [ ]:

start_invoice_details = text.find('Invoice Details :')
end_invoice_date = text.find('Invoice Date', start_invoice_details)
invoice_details_info = text[start_invoice_details:end_invoice_date]

invoice_details_info_cleaned = invoice_details_info.replace('\n', ' ')

if 'Invoice Details :' in invoice_details_info_cleaned:
    column_head_invoice_details = 'Invoice Details'
    column_value_invoice_details = invoice_details_info_cleaned.split('Invoice Details :')[1].strip()


    df4 = pd.DataFrame({column_head_invoice_details: [column_value_invoice_details]}, index=['Description'])


    print(df4)
else:
    print("No Invoice Details found in the extracted substring.")

                     Invoice Details
Description  MH-BOM7-1283324145-2324

In [ ]:
startinvoice_date = text.find('Invoice Date :')
end_description = text.find('Amount', startinvoice_date)
invoice_date_info = text[startinvoice_date:end_description]

invoice_date_info_cleaned = invoice_date_info.replace('\n', ' ')


if 'Invoice Date :' in invoice_date_info_cleaned:
    column_head_invoice_date = 'Invoice Date'
    column_value_invoice_date = invoice_date_info_cleaned.split('Invoice Date :')[1].strip()

    df5= pd.DataFrame({column_head_invoice_date: [column_value_invoice_date]}, index=['Description'])

    print(df5)
else:
    print("No Invoice Date found in the extracted substring.")

            Invoice Date
Description   21.12.2023

In [ ]:
startyoubella = text.find('YouBella')
end_amount_in_words = text.find('| BO7W9KXP9Q ( BO7W9KXP9Q )', startyoubella)
youbella_info = text[startyoubella:end_amount_in_words]


youbella_info_cleaned = youbella_info.replace('\n', ' ')


if 'YouBella' in youbella_info_cleaned:
    column_head_youbella = 'Description'
    column_value_youbella = youbella_info_cleaned.strip()

    df6 = pd.DataFrame({column_head_youbella: [column_value_youbella]}, index=['Description'])
    print(df6)
else:
    print("No YouBella found in the extracted substring.")
df6.head()

                                                   Description
Description  YouBella Jewellery Earrings for women Crystal ...

                                                   Description
Description  YouBella Jewellery Earrings for women Crystal ...

In [ ]:
startplace_of_supply = text.find('Place of supply:')
end_place_of_delivery = text.find('Place of delivery', startplace_of_supply)
place_of_supply_info = text[startplace_of_supply:end_place_of_delivery]

place_of_supply_info_cleaned = place_of_supply_info.replace('\n', ' ')

if 'Place of supply:' in place_of_supply_info_cleaned:
    column_head_place_of_supply = 'Place of supply'
    column_value_place_of_supply = place_of_supply_info_cleaned.split('Place of supply:')[1].strip()

    df7 = pd.DataFrame({column_head_place_of_supply: [column_value_place_of_supply]}, index=['Description'])


    print(df7)
else:
    print("No Place of supply found in the extracted substring.")

            Place of supply
Description     MAHARASHTRA

In [ ]:
startplace_of_delivery = text.find('Place of delivery:')
end_invoice_number = text.find('Invoice Number : BOM7-321133', startplace_of_delivery)
delivery_info = text[startplace_of_delivery:end_invoice_number]


delivery_info_cleaned = delivery_info.replace('\n', ' ')

if 'Place of delivery:' in delivery_info_cleaned:
    column_head_place_of_delivery = 'Place of delivery'
    column_value_place_of_delivery = delivery_info_cleaned.split('Place of delivery:')[1].strip()


    df8= pd.DataFrame({column_head_place_of_delivery: [column_value_place_of_delivery]}, index=['Description'])


    print(df8)
else:
    print("No Place of delivery found in the extracted substring.")

            Place of delivery
Description       MAHARASHTRA

In [ ]:
startamount_in_words = text.find('Amount in Words:')
end_for = text.find('SI', startamount_in_words)
amount_in_words_info = text[startamount_in_words:end_for]

amount_in_words_info_cleaned = amount_in_words_info.replace('\n', ' ')

if 'Amount in Words:' in amount_in_words_info_cleaned:
    column_head_amount_in_words = 'Amount in Words'
    column_value_amount_in_words = amount_in_words_info_cleaned.split('Amount in Words:')[1].strip()


    df8= pd.DataFrame({column_head_amount_in_words: [column_value_amount_in_words]}, index=['Description'])


    print(df8)
else:
    print("No Amount in Words found in the extracted substring.")

                          Amount in Words
Description  Two Hundred Eighty-four only

In [ ]:
startdate_time = text.find('Date & Time:')
end_invoice = text.find('Invoice', startdate_time)
date_time_info = text[startdate_time:end_invoice]

date_time_info_cleaned = date_time_info.replace('\n', ' ')

if 'Date & Time:' in date_time_info_cleaned:
    column_head_date_time = 'Date & Time of Transaction'
    column_value_date_time = date_time_info_cleaned.split('Date & Time:')[1].strip()

    df9 = pd.DataFrame({column_head_date_time: [column_value_date_time]}, index=['Description'])

    print(df9)
else:
    print("No Date & Time found in the extracted substring.")

            Date & Time of Transaction
Description       21/12/2023, 22:46:11

# Merging the four data frames into one and making an excel file

<span style="color:blue">Now for every dataframe that was generated above,is now merged into a single dataframe.They are merged based on the similar index name that they have.<br><br>This merged dataframe is now converted into an excel file </span>

In [ ]:
merged_df = pd.merge(df, df0, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df1, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df2, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df6, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df8, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df9, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df7, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df3, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df4, how='outer', left_index=True, right_index=True)
merged_df = pd.merge(merged_df, df5, how='outer', left_index=True, right_index=True)

print(merged_df)

                    Order Number  Order Date  \
Description  404-9917575-7586714  21.12.2023

                                                       Sold By  \
Description  VRP TELEMATICS PRIVATE LIMITED  ” Building No....

                                               Billing Address  \
Description  Nataline Ambrose  Infant jesus cottage room no...

                                                   Description  \
Description  YouBella Jewellery Earrings for women Crystal ...

                          Amount in Words Date & Time of Transaction  \
Description  Two Hundred Eighty-four only       21/12/2023, 22:46:11

            Place of supply Invoice Number          Invoice Details  \
Description     MAHARASHTRA    BOM7-321133  MH-BOM7-1283324145-2324

            Invoice Date
Description   21.12.2023

In [ ]:
merged_df.head(100)

,Order Number,Order Date,Sold By,Billing Address,Description,Amount in Words,Date & Time of Transaction,Place of supply,Invoice Number,Invoice Details,Invoice Date
Description,404-9917575-7586714,21.12.2023,VRP TELEMATICS PRIVATE LIMITED ” Building No....,Nataline Ambrose Infant jesus cottage room no...,YouBella Jewellery Earrings for women Crystal ...,Two Hundred Eighty-four only,"21/12/2023, 22:46:11",MAHARASHTRA,BOM7-321133,MH-BOM7-1283324145-2324,21.12.2023

In [ ]:
import pandas as pd

merged_df.to_excel('merged_data.xlsx', index=False)  # Set index=False to exclude index

print("Success")

Success