In [28]:
config = {
    'accounts': {
        'Ledger':[],
        'Sub ledger':[],
        'Account':[],
        'Sub account':[],
        'Ledger Name':[],
        'Category 1':[],
        'Category 2':[],
        
}}

#Add data into the config file using user_input

In [13]:

def user_input():
    ledger  = input("Enter ledger ")
    config['accounts']['Ledger'].append(ledger)
    
    sub_ledger = input("Enter sub_ledger ")
    config['accounts']['Sub ledger'].append(sub_ledger)
    
    account = input("Enter account")
    config['accounts']['Account'].append(account)
    
    sub_account_type = input("Enter sub-account type: ")
    config['accounts']['Sub account'].append(sub_account_type)

    Ledger_Name = input("Enter Ledger_Name type: ")
    config['accounts']['Ledger Name'].append(Ledger_Name)
    
    category1 =  input("Enter category1 name")
    config['accounts']['Category 1'].append(category1)
    
    category2 = input("Enter category1 name")
    config['accounts']['Category 2'].append(category2)

In [14]:
user_input()

Enter ledger  Asset
Enter sub_ledger  Current Asset
Enter account Bank
Enter sub-account type:  HSBC
Enter Ledger_Name type:  HSBC1001
Enter category1 name a
Enter category1 name b

In [15]:
config

{'accounts': {'Ledger': ['Asset'],
  'Sub ledger': ['Current Asset'],
  'Account': ['Bank'],
  'Sub account': ['HSBC'],
  'Ledger Name': ['HSBC1001'],
  'Category 1': ['a'],
  'Category 2': ['b']}}

In [16]:
import pandas as pd
pd.DataFrame(config['accounts'])

  Ledger     Sub ledger Account Sub account Ledger Name Category 1 Category 2
0  Asset  Current Asset    Bank        HSBC    HSBC1001          a          b

# taking information from the excel file and save into the config file

In [17]:
import pandas as pd

In [29]:
df = pd.read_excel('demo.xlsx',  engine='openpyxl')

In [30]:
ledger = df['Ledger']
sub_ledger = df['Sub ledger']
account = df['Account']
sub_account_type = df['Sub account']
Ledger_Name = df['Ledger Name']
category_1 = df['Category 1']
category_2 = df['Category 2']

In [31]:
for i in range(len(ledger)):
    config['accounts']['Ledger'].append(ledger[i])
    config['accounts']['Sub ledger'].append(sub_ledger[i])
    config['accounts']['Account'].append(account[i])
    config['accounts']['Sub account'].append(sub_account_type[i])
    config['accounts']['Ledger Name'].append(Ledger_Name[i])
    config['accounts']['Category 1'].append(category_1[i])
    config['accounts']['Category 2'].append(category_2[i])

In [32]:
import pandas as pd
pd.DataFrame(config['accounts'])

  Ledger     Sub ledger Account Sub account Ledger Name Category 1 Category 2
0  Asset  Current Asset    Bank        HSBC    HSBC1001          a          b
1  Asset  Current Asset    Bank        HSBC   HSBC 1002          c          d

In [53]:
config2 = {
    'accounts': {
        
        'Account':['Cash','CashEquivalents','ShortTermDeposits','AccountsReceivables'],
        'account_sub_type':['CurrentAsset','CurrentAsset','CurrentAsset','CurrentAsset'],
        'account_type':['Asset','Asset','Asset','Asset'],
        
    }
}

In [54]:
account_index = {}
for i , key in enumerate(config2['accounts']['Account']):
    account_index[key] = i

# Add data into the config file using user_input

In [55]:
def user_input():
    
    account = input("Enter account")
    config2['accounts']['Account'].append(account)

    
    sub_account_type = input("Enter sub-account type: ")
    config2['accounts']['account_sub_type'].append(sub_account_type)

    account_type = input("Enter Ledger_Name type: ")
    config2['accounts']['account_type'].append(account_type)

In [56]:
user_input()

Enter account Inventory
Enter sub-account type:  CurrentAsset
Enter Ledger_Name type:  Asset

In [57]:
config2['accounts']

{'Account': ['Cash',
  'CashEquivalents',
  'ShortTermDeposits',
  'AccountsReceivables',
  'Inventory'],
 'account_sub_type': ['CurrentAsset',
  'CurrentAsset',
  'CurrentAsset',
  'CurrentAsset',
  'CurrentAsset'],
 'account_type': ['Asset', 'Asset', 'Asset', 'Asset', 'Asset']}

In [58]:
pd.DataFrame(config2['accounts'])

               Account account_sub_type account_type
0                 Cash     CurrentAsset        Asset
1      CashEquivalents     CurrentAsset        Asset
2    ShortTermDeposits     CurrentAsset        Asset
3  AccountsReceivables     CurrentAsset        Asset
4            Inventory     CurrentAsset        Asset