In [1]:
import sys
import os
path = os.path.abspath(os.path.join('C:\\Users\\user\\', 'Downloads', 'Convert_pdf_file_into_the_excel_file', 'Rule_Setup', 'Accounting_Library'))
sys.path.append(path)

In [2]:
# path

In [3]:
from A_Rule_Engine.A_1_Ledger_Library import AccountConfiguration
from A_Rule_Engine.A_2_Purchase_Journal_Entry import JournalEntryProcessor
import pandas as pd

path ~\Downloads\Convert_pdf_file_into_the_excel_file\Rule_Setup\Accounting_Library\B_Setup\B_1_Ledger_Setup\
account config file generated successfully

In [4]:
entry_df = pd.read_excel(path+'\E_Process_2_Accounting\E_Step_1_Common_Template\Purchase_Common_Template.xlsx',engine='openpyxl')
config_df = pd.read_excel(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',engine='openpyxl')

In [5]:
# print(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',)

In [6]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J9 - Description/Narration' : [],
}

In [7]:
journal_entry = JournalEntryProcessor(entry_df,config_df)

In [9]:
journal_entry.process_entries(k)

Entry Number - 0
Ledger Name -  Laptop
Ledger Name laptop already present
Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Amazon
Ledger Name amazon already present
Ledger Name -  Amazon
Ledger Name amazon already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 1
Ledger Name -  Keyboard
Ledger Name keyboard already present
Ledger Name -  tax igst 5%
Ledger Name tax igst 5% already present
Ledger Name -  tax cgst 5%
Ledger Name tax cgst 5% already present
Ledger Name -  Flipkart
Ledger Name flipkart already present
Ledger Name -  Flipkart
Ledger Name flipkart already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 2
Ledger Name -  Oxometer
Ledger Name oxometer already present
Ledger Name -  tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name -  tax cgst 28%
Ledger Name tax cgst 28% already present
Ledger Name -  One Mg
Ledger Name one mg already present
Ledger Name -  One Mg
Ledger Name one mg already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 3
Ledger Name -  Cooler
Ledger Name cooler already present
Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Reliance digital
Ledger Name reliance digital already present
Ledger Name -  Reliance digital
Ledger Name reliance digital already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 4
Ledger Name -  AC
Ledger Name ac already present
Ledger Name -  tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name -  tax cgst 28%
Ledger Name tax cgst 28% already present
Ledger Name -  Croma
Ledger Name croma already present
Ledger Name -  Croma
Ledger Name croma already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 5
Ledger Name -  FAn
Ledger Name fan already present
Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Usha
Ledger Name usha already present
Ledger Name -  Usha
Ledger Name usha already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 6
Ledger Name -  Fridge
Ledger Name fridge already present
Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Whirlpool
Ledger Name whirlpool already present
Ledger Name -  Whirlpool
Ledger Name whirlpool already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 7
Ledger Name -  TV
Ledger Name tv already present
Ledger Name -  tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name -  tax cgst 18%
Ledger Name tax cgst 18% already present
Ledger Name -  LG
Ledger Name lg already present
Ledger Name -  LG
Ledger Name lg already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 8
Ledger Name -  Music System
Ledger Name music system already present
Ledger Name -  tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name -  tax cgst 18%
Ledger Name tax cgst 18% already present
Ledger Name -  Sony
Ledger Name sony already present
Ledger Name -  Sony
Ledger Name sony already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 9
Ledger Name -  Investment
Ledger Name investment already present
Ledger Name -  tax igst 10%
Ledger Name tax igst 10% already present
Ledger Name -  tax cgst 10%
Ledger Name tax cgst 10% already present
Ledger Name -  Investment Fund
Ledger Name investment fund already present
Ledger Name -  Investment Fund
Ledger Name investment fund already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 10
Ledger Name -  Equity Funding
Ledger Name equity funding already present
Ledger Name -  tax igst 15%
Ledger Name tax igst 15% already present
Ledger Name -  tax cgst 15%

Enter C3 (Account Name):  Taxes
Enter C4 (Sub ledger):  gst

Ledger Name -  Venture Capital Inc.

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Venture Capital Inc.
Ledger Name venture capital inc. already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 11
Ledger Name -  Seed Funding

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 20%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax cgst 20%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Angel Investors Group

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Angel Investors Group
Ledger Name angel investors group already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 12
Ledger Name -  Business Loan

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 8%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax cgst 8%

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Bank of America

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Bank of America
Ledger Name bank of america already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 13
Ledger Name -  Accounts Payable

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 5%
Ledger Name tax igst 5% already present
Ledger Name -  tax cgst 5%
Ledger Name tax cgst 5% already present
Ledger Name -  Suppliers Inc.

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Suppliers Inc.
Ledger Name suppliers inc. already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 14
Ledger Name -  Rent Payable

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name -  tax cgst 12%
Ledger Name tax cgst 12% already present
Ledger Name -  Rent Agency Ltd.

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Rent Agency Ltd.
Ledger Name rent agency ltd. already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 15
Ledger Name -  Sales Revenue

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name -  tax cgst 18%
Ledger Name tax cgst 18% already present
Ledger Name -  Walmart

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Walmart
Ledger Name walmart already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 16
Ledger Name -  Service Revenue

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 15%
Ledger Name tax igst 15% already present
Ledger Name -  tax cgst 15%
Ledger Name tax cgst 15% already present
Ledger Name -  Target

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  Target
Ledger Name target already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

Entry Number - 17
Ledger Name -  Advertising Revenue

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables

Ledger Name -  tax igst 10%
Ledger Name tax igst 10% already present
Ledger Name -  tax cgst 10%
Ledger Name tax cgst 10% already present
Ledger Name -  Best Buy

Enter C3 (Account Name):  AccountsReceivables
Enter C4 (Sub ledger):  AccountsReceivables'

Ledger Name -  Best Buy
Ledger Name best buy already present
Ledger Name -  To Bank
Ledger Name to bank already present
==========================================================================

In [10]:
df = pd.DataFrame(k)
df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J6 - Dr Amount,J7 - Cr Amount,J9 - Description/Narration
0,P001,2024-01-15,AF2223-026868,Laptop,10000,0,purchase
1,P001,2024-01-15,AF2223-026868,tax igst 12%,600,0,purchase
2,P001,2024-01-15,AF2223-026868,tax cgst 12%,600,0,purchase
3,P001,2024-01-15,AF2223-026868,Amazon,0,11200,purchase
4,P0000,2024-01-15,AF2223-026868,Amazon,11200,0,purchase
...,...,...,...,...,...,...,...
165,P0018,2024-02-18,AF2223-026885,tax igst 10%,10000,0,purchase
166,P0018,2024-02-18,AF2223-026885,tax cgst 10%,10000,0,purchase
167,P0018,2024-02-18,AF2223-026885,Best Buy,0,110000,purchase
168,P001717,2024-02-18,AF2223-026885,Best Buy,110000,0,purchase
169,P001818,2024-02-18,AF2223-026885,To Bank,0,110000,purchase

In [11]:
file_save_path = 'C:\\Users\\user\\Downloads\\Convert_pdf_file_into_the_excel_file\\Rule_Setup\\Accounting_Library\\E_Process_2_Accounting\\E_Step_2_Journal_Entry\\'
df.to_excel(file_save_path+'Purchase_Journal_Entry_Output.xlsx')