In [1]:
import sys
import os
path = os.path.abspath(os.path.join('C:\\Users\\user\\', 'Downloads', 'Convert_pdf_file_into_the_excel_file', 'Rule_Setup', 'Accounting_Library'))
sys.path.append(path)

In [2]:
# path

In [3]:
from A_Rule_Engine.A_1_Ledger_Library import AccountConfiguration
from A_Rule_Engine.A_2_Sales_Journal_Entry import JournalEntryProcessor
import pandas as pd

path ~\Downloads\Convert_pdf_file_into_the_excel_file\Rule_Setup\Accounting_Library\B_Setup\B_1_Ledger_Setup\
account config file generated successfully

In [23]:
entry_df = pd.read_excel(path+'\E_Process_2_Accounting\E_Step_1_Common_Template\Sales_Common_Template.xlsx',engine='openpyxl')
config_df = pd.read_excel(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',engine='openpyxl')

In [24]:
print(path+'\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx',)

C:\Users\user\Downloads\Convert_pdf_file_into_the_excel_file\Rule_Setup\Accounting_Library\B_Setup\B_1_Ledger_Setup\Output_Ledger_Library.xlsx

In [25]:
k  = {
    'J1 - Journal Number':[],
    'J2 - Date' :  [],
    'J3 - Invoice_Ref_Number' : [],
    'J4 - Ledger_Name' : [],
    'J6 - Dr Amount' : [],
    'J7 - Cr Amount' : [],
    'J9 - Description/Narration' : [],
}

In [26]:
journal_entry = JournalEntryProcessor(entry_df,config_df)

In [27]:
journal_entry.process_entries(k)

KPMG
Ledger Name kpmg already present
tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
==========================================================================

Delloite
Ledger Name delloite already present
tax igst 5%
Ledger Name tax igst 5% already present
Ledger Name tax cgst 5% already present
To Sales
Ledger Name to sales already present
==========================================================================

Capegemini
Ledger Name capegemini already present
tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name tax cgst 28% already present
To Sales
Ledger Name to sales already present
==========================================================================

SBI
Ledger Name sbi already present
tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
==========================================================================

HDFC
Ledger Name hdfc already present
tax igst 28%
Ledger Name tax igst 28% already present
Ledger Name tax cgst 28% already present
To Sales
Ledger Name to sales already present
==========================================================================

Infosys
Ledger Name infosys already present
tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
==========================================================================

IBM
Ledger Name ibm already present
tax igst 12%
Ledger Name tax igst 12% already present
Ledger Name tax cgst 12% already present
To Sales
Ledger Name to sales already present
==========================================================================

Google
Ledger Name google already present
tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name tax cgst 18% already present
To Sales
Ledger Name to sales already present
==========================================================================

Meta
Ledger Name meta already present
tax igst 18%
Ledger Name tax igst 18% already present
Ledger Name tax cgst 18% already present
To Sales
Ledger Name to sales already present
==========================================================================

In [28]:
df = pd.DataFrame(k)
df

,J1 - Journal Number,J2 - Date,J3 - Invoice_Ref_Number,J4 - Ledger_Name,J6 - Dr Amount,J7 - Cr Amount,J9 - Description/Narration
0,S000,2024-01-15,AF2223-026868,KPMG,11200,0,Sales
1,S000,2024-01-15,AF2223-026868,tax igst 12%,0,600,Sales
2,S000,2024-01-15,AF2223-026868,tax cgst 12%,0,600,Sales
3,S000,2024-01-15,AF2223-026868,To Sales,0,10000,Sales
4,S001,2024-01-17,AF2223-026869,Delloite,15750,0,Sales
5,S001,2024-01-17,AF2223-026869,tax igst 5%,0,375,Sales
6,S001,2024-01-17,AF2223-026869,tax cgst 5%,0,375,Sales
7,S001,2024-01-17,AF2223-026869,To Sales,0,15000,Sales
8,S002,2024-01-19,AF2223-026870,Capegemini,32000,0,Sales
9,S002,2024-01-19,AF2223-026870,tax igst 28%,0,3500,Sales
10,S002,2024-01-19,AF2223-026870,tax cgst 28%,0,3500,Sales
11,S002,2024-01-19,AF2223-026870,To Sales,0,25000,Sales
12,S003,2024-01-21,AF2223-026871,SBI,39200,0,Sales
13,S003,2024-01-21,AF2223-026871,tax igst 12%,0,2100,Sales
14,S003,2024-01-21,AF2223-026871,tax cgst 12%,0,2100,Sales
15,S003,2024-01-21,AF2223-026871,To Sales,0,35000,Sales
16,S004,2024-01-23,AF2223-026872,HDFC,51200,0,Sales
17,S004,2024-01-23,AF2223-026872,tax igst 28%,0,5600,Sales
18,S004,2024-01-23,AF2223-026872,tax cgst 28%,0,5600,Sales
19,S004,2024-01-23,AF2223-026872,To Sales,0,40000,Sales
20,S005,2024-01-25,AF2223-026873,Infosys,44800,0,Sales
21,S005,2024-01-25,AF2223-026873,tax igst 12%,0,2400,Sales
22,S005,2024-01-25,AF2223-026873,tax cgst 12%,0,2400,Sales
23,S005,2024-01-25,AF2223-026873,To Sales,0,40000,Sales
24,S006,2024-01-27,AF2223-026874,IBM,67200,0,Sales
25,S006,2024-01-27,AF2223-026874,tax igst 12%,0,3600,Sales
26,S006,2024-01-27,AF2223-026874,tax cgst 12%,0,3600,Sales
27,S006,2024-01-27,AF2223-026874,To Sales,0,60000,Sales
28,S007,2024-01-29,AF2223-026875,Google,177000,0,Sales
29,S007,2024-01-29,AF2223-026875,tax igst 18%,0,13500,Sales
30,S007,2024-01-29,AF2223-026875,tax cgst 18%,0,13500,Sales
31,S007,2024-01-29,AF2223-026875,To Sales,0,150000,Sales
32,S008,2024-01-31,AF2223-026876,Meta,212400,0,Sales
33,S008,2024-01-31,AF2223-026876,tax igst 18%,0,16200,Sales
34,S008,2024-01-31,AF2223-026876,tax cgst 18%,0,16200,Sales
35,S008,2024-01-31,AF2223-026876,To Sales,0,180000,Sales

In [30]:
file_save_path = 'C:\\Users\\user\\Downloads\\Convert_pdf_file_into_the_excel_file\\Rule_Setup\\Accounting_Library\\E_Process_2_Accounting\\E_Step_2_Journal_Entry\\'
df.to_excel(file_save_path+'Sales_Journal_Entry_Output.xlsx')