In [65]:
config = {
    'account_types': {
        'ASSET': {'balance_type': 'DEBIT'},
        'EXPENSE': {'balance_type': 'DEBIT'},
        'INCOME': {'balance_type': 'CREDIT'},
        'LIABILITY': {'balance_type': 'CREDIT'},
        'CAPITAL':{'balance_type': 'CREDIT'},
        
    },
    

    'accounts': {
        'Cash': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'CashEquivalents': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'ShortTermDeposits': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'AccountsReceivables': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'Inventory': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'MarketableSecurities':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'OfficeSupplies':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'PrepaidExpenses':{'type':{'CurrentAsset':{'type':'ASSET'}}},

        'Land':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Building':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Machinery':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Equipment':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Patents':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trademarks':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Goodwill':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Brand':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Copyrights':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trade secrets':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Licenses And Permits':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Corporate Intellectual Property':{'type':{'FixedAsset':{'type':'ASSET'}}},


        'Accounts Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        
        'Principal  & Interest ':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Outstanding_Salaries':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Wages':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Notes Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Income Tax dues':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Payroll':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Unearned income':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Accrued expenses':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Short Term Debt':{'type':{'Current_Liability':{'type':'LIABILITY'}}},

        'Principal':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Bonds':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Debentures':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Long term loans':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Deffered tax':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Lease Payments':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Pensions':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},

        'Sales':{'type':{'Operating':{'type':'REVENUE'}}},
        'Rent revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Dividend revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Interest revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Contra revenue':{'type':{'Operating':{'type':'REVENUE'}}},

        'Interest Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Dividend Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Rental Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Gain on Sale of Assets':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Royalty Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Insurance Proceeds':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Foreign Exchange Gains':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Legal Settlements':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Miscellaneous Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},

        'Salaries':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Wages':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Marketing':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Advertising':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Promotion':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Selling':{'type':{'Operating':{'type':'EXPENSE'}}},
        'general, and administrative (SG&A)':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Rent and insurance':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Depreciation and amortization':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Other':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Interest':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Taxes':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Impairment charges':{'type':{'Operating':{'type':'EXPENSE'}}},
        
        'Rent':{'type':{'Fixed':{'type':'EXPENSE'}}},
        'Salaries, benefits, and wages (sometimes fixed and sometimes variable)':{'type':{'Fixed':{'type':'EXPENSE'}}},

        'Transaction fees':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Commissions':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Marketing and advertising (sometimes fixed and sometimes variable)':{'type':{'Variable':{'type':'EXPENSE'}}},


   

    }}

In [66]:
import pandas as pd

In [90]:
data = []

for account, details in config['accounts'].items():
    account_type = list(details['type'].values())[0]['type']
    C2  = (list(details['type'].keys())[0])
   
    # balance_type = config['account_types'][account_type]['balance_type']

    data.append({
        'C1': account_type,
        'C2':C2,
        'C3': account
        # 'Balance Type': balance_type
    })

df = pd.DataFrame(data)
df['G_CODE'] = df['C1'].map({'ASSET': 'G1', 'LIABILITY': 'G2', 'INCOME':'G3','EXPENSE':'G4','REVENUE':'G5'})
# df['G2'] = df['Account Type'].apply(lambda x: 'G1' if x == 'ASSET' else 'G2')

df

,C1,C2,C3,G_CODE
0,ASSET,CurrentAsset,Cash,G1
1,ASSET,CurrentAsset,CashEquivalents,G1
2,ASSET,CurrentAsset,ShortTermDeposits,G1
3,ASSET,CurrentAsset,AccountsReceivables,G1
4,ASSET,CurrentAsset,Inventory,G1
...,...,...,...,...
64,EXPENSE,Fixed,Rent,G4
65,EXPENSE,Fixed,"Salaries, benefits, and wages (sometimes fixed...",G4
66,EXPENSE,Variable,Transaction fees,G4
67,EXPENSE,Variable,Commissions,G4
68,EXPENSE,Variable,Marketing and advertising (sometimes fixed and...,G4

In [91]:
df[df['G_CODE']=='G1']

       C1            C2                               C3 G_CODE
0   ASSET  CurrentAsset                             Cash     G1
1   ASSET  CurrentAsset                  CashEquivalents     G1
2   ASSET  CurrentAsset                ShortTermDeposits     G1
3   ASSET  CurrentAsset              AccountsReceivables     G1
4   ASSET  CurrentAsset                        Inventory     G1
5   ASSET  CurrentAsset             MarketableSecurities     G1
6   ASSET  CurrentAsset                   OfficeSupplies     G1
7   ASSET  CurrentAsset                  PrepaidExpenses     G1
8   ASSET    FixedAsset                             Land     G1
9   ASSET    FixedAsset                         Building     G1
10  ASSET    FixedAsset                        Machinery     G1
11  ASSET    FixedAsset                        Equipment     G1
12  ASSET    FixedAsset                          Patents     G1
13  ASSET    FixedAsset                       Trademarks     G1
14  ASSET    FixedAsset                         Goodwill     G1
15  ASSET    FixedAsset                            Brand     G1
16  ASSET    FixedAsset                       Copyrights     G1
17  ASSET    FixedAsset                    Trade secrets     G1
18  ASSET    FixedAsset             Licenses And Permits     G1
19  ASSET    FixedAsset  Corporate Intellectual Property     G1

In [69]:
df[df['G_CODE']=='G2'][:5]

                        C3         C1 G_CODE
20        Accounts Payable  LIABILITY     G2
21  Principal  & Interest   LIABILITY     G2
22    Outstanding_Salaries  LIABILITY     G2
24           Notes Payable  LIABILITY     G2
25         Income Tax dues  LIABILITY     G2

In [92]:
df[df['G_CODE']=='G4'][0:5]

         C1         C2           C3 G_CODE
23  EXPENSE  Operating        Wages     G4
52  EXPENSE  Operating     Salaries     G4
53  EXPENSE  Operating    Marketing     G4
54  EXPENSE  Operating  Advertising     G4
55  EXPENSE  Operating    Promotion     G4

In [93]:
df[df['G_CODE']=='G5'][0:5]

         C1         C2                C3 G_CODE
38  REVENUE  Operating             Sales     G5
39  REVENUE  Operating      Rent revenue     G5
40  REVENUE  Operating  Dividend revenue     G5
41  REVENUE  Operating  Interest revenue     G5
42  REVENUE  Operating    Contra revenue     G5